/*@import url('https://fonts.googleapis.com/css?family=Roboto:300');*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(./assets/images/seattle.jpg) no-repeat center center fixed !important;
  background-size: cover !important;
}

.init-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: white !important;
}

.main-body {
	/*background-color:rgba(0,0,0,0.3);*/
	width: 90%;
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
}

.title {
	/*font-family: Roboto;*/
	text-align: left;
	font-size: 20px;
	/*padding: 10px 17px;*/
	color: white;
	/*background-color: rgba(0,0,0,0.6);*/
	margin: 20px 0;
	letter-spacing: 1px;
}

.current-weather {
	/*color: white;*/
	text-align: left;
	/*padding: 5px 15px;*/
	/*background-color: rgba(0,0,0,0.5);*/
}
